/* Fonts settings */
@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNovaCond-Regular.eot');
    src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-Regular.woff') format('woff'),
        url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin reg {
  font-family: 'ProximaNova_reg';
}

@mixin bold {
  font-family: 'ProximaNova_bold';
}



/* Colors */
@btn-color: #fdb303;
@icon-color: #49bf15;
@bg-color: #f5f5f5;
@text: #292929;
@danger: #ff0000;
@border-input: #dddddd;



/* Basic settings */

body {
	@include reg
}

html {
	font-style: 10px;
}
a:hover {
	text-decoration: none;
}
button, input, a {
	button, input, a:focus {
		outline: none;
	}
} 
.button {
	font-size: 1.2rem;
	padding: 1rem 3rem;
	border-radius: 8px;
	text-transform: uppercase;
	border:none;
	background-color: #fdb303;
	color: white;
	transition: all 0.2s;
}
.button:hover {
	cursor: pointer;
	background: darken(#fdb303, 5%);
}

/* Typography */
section {
	padding: 10rem 0;
}


/* main */
.main {
	padding: 2rem  5rem;
	background-image: url(../img/font1.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-size: cover;
	@include bold;
	.main-content {
		margin-top: 10rem;
		
		/* Главный заголовок */
		h1{
			margin-top: 0;
			line-height: 6rem;
			@include bold;
			font-size: 4rem;
			text-transform: uppercase;
		}
	}
	/* Подзаголовок */
	.main-subtitle {
		margin-top: 5.8rem;
		font-size: 2.4rem;
	}
	/* Стоимость (зеленый ярлык) */
	span {
		text-align: center;
		margin-top: 3.5rem;
		display: inline-block;
		padding: 2.5rem 5.5rem;
		background-color: #49bf15;
		color: white;
		strong  {
			font-size: 3rem;
		}
	}
	/* Оплата по факту */
	.main-fact {
		font-size: 2rem;
		text-transform: uppercase;
		margin-top: 2.5rem;
	}

	/* Форма */
	.main-form {
		border: 1px solid #dddddd;
		text-align: center;
		padding: 5rem 5rem;
		background-color: white;
	
	 .form-header {
		font-size: 2rem;
		@include reg;
		margin-bottom: 4rem;
	} 
	/* Поле для ввода */
	input {
		margin: 2rem 0;
		display: block;
		border: 1px solid #dddddd;
		width: 100%;
		height: 5rem;
		padding: 1.5rem;
		border-radius: 8px;
	}

	/* Подписис к полям */
	label {
		position: absolute;
		display: inline-block;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: 0.5rem;
		font-size: 1.3rem;
		background-color: white;
		}

	/* Кнопка формы */
	.form-btn {
		display: block;
		width: 100%;
		height: 6.5rem;
		font-size: 1.5rem;
		}
	/* Подпись под кнопкой */
	small {
		display: block;
		margin-top: 1.5rem;
		}
	}
	/* Подпись под формой со * */
	.star-text {
		margin-left: 3rem;
		margin-top: 3.8rem;
		display: inline-block;
		text-align: center;
	}
}
.header  {
	height: 7rem;
}
.phone-link {
	display: inline-block;
	@include bold;
	font-weight: 900;
	font-size: 2rem;
	height: 7rem;
	line-height: 7rem;
	color:#292929;
}
.wrap {
	display: table;
	width: 100%;
	height: 7rem;
	.wrap-block {
	text-align: right;
	display: table-cell;
	vertical-align: middle;	
	}
}

/* Медиа-запросы */

@media (max-width: 991px) {
	.main {
		background-position: top right;
	}
	.main .main-content {
		margin-top: 3rem;
	}
	.main-title  {
		text-align: center;
		padding-bottom: 3rem;
	}
	.main .star-text {
		color: white;
	}
}

@media (max-width: 767px) {
	.main {
		text-align: center;
		background-position: top left;
		padding: 1rem  1rem;
	}
	.header {
		text-align: center;
	}
	.main .main-content {
		margin-top: 9rem;
	}
	.main .main-subtitle {
		margin-top: 3.6rem;
	}
	.main .main-form {
		margin-top: 0.2rem;
		padding: 2.5rem 2.5rem;
	}
	.main .main-form input {
		margin-right: auto;
    	margin-left: auto;
		/* width: 25rem;
		height: 5rem; */
		display: center;
	}
	.main .main-form .form-btn{
		margin-right: auto;
    	margin-left: auto;
		/* width: 25rem;
		height: 6rem; */
	}
	.main .star-text {
		display: inline-block;
		text-align: center;
		color: #292929;
	}
}